<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEXUTILES </title>
</head>
<body>
<h1>WELCOME TO THE TEXT ANALYZER. ENTER YOUR TEXT HERE</h1>
<form action=" /analyze", method= "get">
     <textarea name = "text" style="width: 1178px; height: 185px;">  </textarea><br>
    <input type="checkbox" name = "removepunc"> REMOVE PUNCTUATIONS<br>
     <input type="checkbox" name = "fullcaps"> UPPER CASE<br>
    <input type="checkbox" name = "extraspace"> EXTRA SPACE REMOVER<br>
    <input type="checkbox" name = "NEWLINE REMOVER"> NEW LINE REMOVER<br>
    <button type = 'submit ' style="height:40px;"><b>ANALYZE TEXT</b> </button><br>



</form>


</body>
</html>